a.a-color-white{
    color: #fff; 
}

.bg-w{
    background-color:#fff;
}

.width-120{
    width: 120px;
}

.width-180{
    width: 180px;
}

.btn-adicionar{
margin-bottom: 10px;
margin-top: -5px;
}

.table-th-200 tr th{
    width: 200px;
}

.td-bg-green{
    background-color:#1ab394;
    color: #fff;     
}

.td-bg-gray{
    background-color:rgb(245, 243, 243);
}

.pg-container{
    margin: 20px;
    border: 2px #000 solid;
    height: 250px;
}