.img-td{
    width: 35px;
    border-radius: 3px;
}

.img-td-2{
    width: 80px;
    border-radius: 3px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-30{
    margin-top: 30px;
}
.mg-bottom-20{
    margin-bottom: 20px;
}
.table-th-200 tr th{
    width: 200px;
}
.width-400{
    width: 400px;
}
.width-320{
    width: 320px;
}

.width-200{
    width: 200px;
}
.width-150{
    width: 150px!important;
}

.width-80{
    width: 80px;
}
.hover{
    cursor: pointer;
}
.display-none{
    display: none!important;
}

.label-strong{
    font-size:0.88em!important; 
    margin-bottom:-16px!important;
}

.label-stoque{
    font-size:0.88em!important; 
    display:block; 
    margin-bottom:-16px!important;
}

.form-control-costum{
    padding:15px 15px; width:100%; 
    font-size:20px;
    outline-color: rgb(241, 151, 34);
    border: 2px solid rgb(224, 223, 223);
}
a.a-color-white{
    color: #fff; 
}